In [28]:
name <- c("anne", "pete", "frank", "julia", "katy")
age <- c(62,83,24,65,16)
child <- c(FALSE, TRUE, TRUE, FALSE, TRUE)
people <- data.frame(name, age, child, stringsAsFactors = FALSE)

In [29]:
print(people)

   name age child
1  anne  62 FALSE
2  pete  83  TRUE
3 frank  24  TRUE
4 julia  65 FALSE
5  katy  16  TRUE

In [30]:
people[2,3]
people[3, "age"]
people[1,]
people[,"child"]

[1] TRUE

[1] 24

  name age child
1 anne 62  FALSE

[1] FALSE  TRUE  TRUE FALSE  TRUE

In [31]:
people[2]
people[c(3,5), c("age", "child")]

  age
1 62
2 83
3 24
4 65
5 16

  age child
3 24  TRUE
5 16  TRUE

In [32]:
people$age
people[["age"]]
people[[2]]

[1] 62 83 24 65 16

[1] 62 83 24 65 16

[1] 62 83 24 65 16

In [33]:
people["age"]

  age
1 62
2 83
3 24
4 65
5 16

In [34]:
# Add colums or rows
height <- c(172, 173, 176, 177, 182)
people$height <- height
people[["height"]] <- height

In [35]:
print(people)

   name age child height
1  anne  62 FALSE    172
2  pete  83  TRUE    173
3 frank  24  TRUE    176
4 julia  65 FALSE    177
5  katy  16  TRUE    182

In [36]:
weight <- c(87,95,34,59,53)
cbind(people, weight)

  name  age child height weight
1 anne  62  FALSE 172    87
2 pete  83   TRUE 173    95
3 frank 24   TRUE 176    34
4 julia 65  FALSE 177    59
5 katy  16   TRUE 182    53

In [37]:
tom <- data.frame(name = "Tom", age = 42, child = FALSE, height= 159)
rbind(people, tom)

  name  age child height
1 anne  62  FALSE 172
2 pete  83   TRUE 173
3 frank 24   TRUE 176
4 julia 65  FALSE 177
5 katy  16   TRUE 182
6 Tom   42  FALSE 159

In [38]:
sort(people$age)
ranks <- order(people$age)
ranks

[1] 16 24 62 65 83

[1] 5 3 1 4 2

In [40]:
people$age
people[ranks,]

[1] 62 83 24 65 16

  name  age child height
5 katy  16   TRUE 182
3 frank 24   TRUE 176
1 anne  62  FALSE 172
4 julia 65  FALSE 177
2 pete  83   TRUE 173

In [41]:
people[order(people$age, decreasing = TRUE), ]

  name  age child height
2 pete  83   TRUE 173
4 julia 65  FALSE 177
1 anne  62  FALSE 172
3 frank 24   TRUE 176
5 katy  16   TRUE 182